<!DOCTYPE html>
<html lang="en">
  <head>
    {% load url from future %}
    <meta charset="utf-8">
    <title>Narcissus</title>
    <meta name="description" content="A dashboard for creating new posts for your site.">
    
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Styles -->
    <link rel="stylesheet/less" type="text/css" href="{{ NARCISSUS_STATIC_URL }}less/style.less">
    
    {% block extra_style %}{% endblock %}
    
    <!-- Fav and touch icons (coming soon)-->
    <link rel="shortcut icon" href="{{ NARCISSUS_STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ NARCISSUS_STATIC_URL }}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ NARCISSUS_STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ NARCISSUS_STATIC_URL }}img/apple-touch-icon-114x114.png">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'narcissus-home' %}">Narcissus</a>
          {% block navigation %}
            <ul class="nav">
              <li class="active"><a href="#">Dashboard</a></li>
              {% for name, posttype in posttypes.items %}
                <li><a href="#{{ name }}">{{ posttype.get_verbose_name_plural.title }}</a></li>
              {% endfor %}
            </ul>
            <ul class="nav secondary-nav">
              <li class="dropdown" data-dropdown="dropdown">
                {% if user.is_authenticated %}
                  
                  <a href="#" class="dropdown-toggle">
                    {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                  </a>
                {% endif %}
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ LOGOUT_URL }}">Logout</a></li>
                </ul>
              </li>
            </ul>
            <p class="pull-right">
              Logged in as
            </p>
          {% endblock %}
        </div>
      </div>
    </div>
    
    <div class="container">
      
      {% block content %}{% endblock content %}
      
      <footer>
        {% block footer %}<p>&copy; 2011 Lincoln Loop, LLC.</p>{% endblock %}
      </footer>

    </div> <!-- /container -->
    
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/less-1.1.5.min.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/bootstrap-alerts.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/bootstrap-tabs.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/bootstrap-twipsy.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/spin.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/spin.jquery.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/classy.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/backdrop.jquery.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/lib/urlify.js" type="text/javascript"></script>
    <script src="{{ NARCISSUS_STATIC_URL }}js/dashboard.js" type="text/javascript"></script>
    
    {% block extra_js %}{% endblock %}
    
  </body>
</html>
