{% extends "narcissus/dashboard/base.html" %}

{% block content %}
  <div class="alert-message block-message info fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Welcome to the dashboard!</strong> This is where you can go to post new content on your site.  It also collects all of your recent posts in one place for easy editing.  To view and edit only a specific type of post, click one of the links along the top of the page.</p>
  </div>

  <div class="page-header">
    <h1>
      Post something new
      <small>Select a post type from the tabs below</small>
    </h1>
  </div>

  <ul class="tabs" data-tabs="tabs">
    {% for name, posttype in posttypes.items %}
      <li{% if forloop.first %} class="active"{% endif %}>
        <a href="#{{ name }}">{{ name.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for name, posttype in posttypes.items %}
      <div id="{{ name }}" class="tab-pane{% if forloop.first %} active{% endif %}">
        {% include posttype.edit_template %}
      </div>
    {% endfor %}
  </div>

  {% if posts %}
    <div class="page-header">
      <h1>
        Recent activity
        <small>Here's what you've been up to lately</small>
      </h1>
    </div>

    <div id="recent-activity">
      <div class="row">
        {% for post in posts %}
        <div class="span-one-third">
          <h2>{{ post }}</h2>
          {% if post.get_teaser %}<p>{{ post.get_teaser }}</p>{% endif %}
          <p class="created-date">{{ post.created_date|timesince }} ago</p>
          <p><a class="btn" href="{{ post.get_absolute_url }}">View details &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
